@tailwind base;
@tailwind components;
@tailwind utilities;


body{@apply font-primary font-normal text-[#333333] bg-light dark:text-white dark:bg-dark text-[15px]}
h1, h2, h3, h4{@apply text-primary dark:text-white}
input, textarea{@apply dark:bg-[#292A33] outline-none border border-primary}
textarea{@apply h-80 md:h-96 resize-none overflow-auto}
.dark .toggle-inner {@apply ml-[20px]}
.btn{@apply capitalize text-sm bg-primary border-2 border-primary hover:bg-transparent hover:text-primary font-semibold duration-300 px-4 py-2 lg:px-8 lg:py-3 text-white rounded-lg m-2}

.navbarLink .navbarLink-a{@apply text-primary dark:text-white p-2 font-medium}
.navbarLink .navbarLink-a.active{@apply bg-white dark:bg-darksecondary rounded-2xl drop-shadow-primary dark:drop-shadow-none}

/* width */
#nav::-webkit-scrollbar { @apply w-[3px]}
  
  /* Track */
  #nav::-webkit-scrollbar-track {@apply shadow-[inset_0_0_5px] shadow-gray rounded-[10px]}
   
  /* Handle */
  #nav::-webkit-scrollbar-thumb { @apply bg-primary rounded-[10px]}
  
  /* Handle on hover */
  /* #nav::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  } */

/* navbar */
nav.active{@apply left-0 md:w-36 md:px-5 md:min-w-[64px]}
nav.active .logo{@apply md:hidden}
nav.active .showA{@apply md:hidden}
nav.active .navactive{@apply md:block}
nav.active .navbarLink{@apply md:space-y-0}
nav.active .navbarLink .navbarLink-a.active{@apply md:bg-transparent}
nav.active .navbarLink ul{@apply hidden}
nav.active .navbarLink a.active .nav-icon{@apply md:bg-primary md:text-white}
#main.active{@apply md:pl-36}

/* navbarLink */
.navbarLink-content{@apply hidden duration-100}
.navbarLink-content.active{@apply block}
nav.active .navbarLink ul.navbarLink-content.active{@apply block md:hidden}
.navbarLink-content a.active{@apply text-primary font-semibold}

/* copied-alert */

.copied-alert.active{@apply top-7 opacity-100}
.age-input--css{@apply w-full p-5 rounded-lg dark:text-white dark:drop-shadow-none dark:border-none drop-shadow-primary appearance-none;}
.age-btn{@apply mx-0 mt-5}
input[type="date"]::-webkit-calendar-picker-indicator {@apply w-6 h-6 bg-no-repeat}
input[type="date"]::-webkit-calendar-picker-indicator {background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" /></svg>');}
input[type="date"]::-webkit-calendar-picker-indicator {background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.75 3V5.25M17.25 3V5.25M3 18.75V7.5C3 6.90326 3.23705 6.33097 3.65901 5.90901C4.08097 5.48705 4.65326 5.25 5.25 5.25H18.75C19.3467 5.25 19.919 5.48705 20.341 5.90901C20.7629 6.33097 21 6.90326 21 7.5V18.75M3 18.75C3 19.3467 3.23705 19.919 3.65901 20.341C4.08097 20.7629 4.65326 21 5.25 21H18.75C19.3467 21 19.919 20.7629 20.341 20.341C20.7629 19.919 21 19.3467 21 18.75M3 18.75V11.25C3 10.6533 3.23705 10.081 3.65901 9.65901C4.08097 9.23705 4.65326 9 5.25 9H18.75C19.3467 9 19.919 9.23705 20.341 9.65901C20.7629 10.081 21 10.6533 21 11.25V18.75M12 12.75H12.008V12.758H12V12.75ZM12 15H12.008V15.008H12V15ZM12 17.25H12.008V17.258H12V17.25ZM9.75 15H9.758V15.008H9.75V15ZM9.75 17.25H9.758V17.258H9.75V17.25ZM7.5 15H7.508V15.008H7.5V15ZM7.5 17.25H7.508V17.258H7.5V17.25ZM14.25 12.75H14.258V12.758H14.25V12.75ZM14.25 15H14.258V15.008H14.25V15ZM14.25 17.25H14.258V17.258H14.25V17.25ZM16.5 12.75H16.508V12.758H16.5V12.75ZM16.5 15H16.508V15.008H16.5V15Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');}